.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-1-square:hover{
  background: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
/*solutions*/
/*ex-1*/
.ex-1-square{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 5s;
}
.ex-1-square:hover{
  background: red;
}
/*ex-2*/
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-2-square:active{
  width: 100%;
}
/*ex-3*/
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-3-square:hover{
  border-radius: 50%;
}
/*ex-4*/
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-4-square{
  opacity: 0;
}
/*ex-5*/
.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: 2s;
}
.ex-5-square:active {
    transform: scale(.5);
}
.ex-5-square:hover {
    transform: scale(2);
}
/*ex-6*/
.ex-6-img:hover{
  filter: grayscale(1);
}
